.idea/.gitignore
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/Thesis.iml
.idea/uiDesigner.xml
.idea/vcs.xml
out/production/Thesis/Main.class
out/production/Thesis/ast/ASTAssign.class
out/production/Thesis/ast/ASTDeref.class
out/production/Thesis/ast/ASTExpSeq.class
out/production/Thesis/ast/ASTFunction.class
out/production/Thesis/ast/ASTFunctionCall.class
out/production/Thesis/ast/ASTId.class
out/production/Thesis/ast/ASTNew.class
out/production/Thesis/ast/ASTNode.class
out/production/Thesis/ast/ASTPair.class
out/production/Thesis/ast/ASTScope.class
out/production/Thesis/ast/bool/ASTAnd.class
out/production/Thesis/ast/bool/ASTBool.class
out/production/Thesis/ast/bool/ASTBoolPair.class
out/production/Thesis/ast/bool/ASTEq.class
out/production/Thesis/ast/bool/ASTGr.class
out/production/Thesis/ast/bool/ASTGrEq.class
out/production/Thesis/ast/bool/ASTNot.class
out/production/Thesis/ast/bool/ASTOr.class
out/production/Thesis/ast/integer/ASTAdd.class
out/production/Thesis/ast/integer/ASTDiv.class
out/production/Thesis/ast/integer/ASTInt.class
out/production/Thesis/ast/integer/ASTIntPair.class
out/production/Thesis/ast/integer/ASTMult.class
out/production/Thesis/ast/integer/ASTNeg.class
out/production/Thesis/ast/integer/ASTSub.class
out/production/Thesis/environment/Environment.class
out/production/Thesis/exceptions/IDDeclaredTwiceException.class
out/production/Thesis/exceptions/TypeErrorException.class
out/production/Thesis/exceptions/UndeclaredIdentifierException.class
out/production/Thesis/types/TBool.class
out/production/Thesis/types/TCell.class
out/production/Thesis/types/TInt.class
out/production/Thesis/types/Type.class
out/production/Thesis/types/Value.class
out/production/Thesis/types/VBool.class
out/production/Thesis/types/VCell.class
out/production/Thesis/types/VInt.class
sessynth/_build/.db
sessynth/_build/.digest-db
sessynth/_build/.filesystem-clock
sessynth/_build/.lock
sessynth/_build/log
sessynth/_build/default/language.ml
sessynth/_build/default/main.exe
sessynth/_build/default/main.ml
sessynth/_build/default/main.mli
sessynth/_build/default/sessynth.ml
sessynth/_build/default/z3adapter.ml
sessynth/_build/default/.dune/configurator
sessynth/_build/default/.dune/configurator.v2
sessynth/_build/default/.main.eobjs/dune__exe__Language.impl.all-deps
sessynth/_build/default/.main.eobjs/dune__exe__Language.impl.d
sessynth/_build/default/.main.eobjs/dune__exe__Main.impl.all-deps
sessynth/_build/default/.main.eobjs/dune__exe__Main.impl.d
sessynth/_build/default/.main.eobjs/dune__exe__Main.intf.all-deps
sessynth/_build/default/.main.eobjs/dune__exe__Main.intf.d
sessynth/_build/default/.main.eobjs/dune__exe__Sessynth.impl.all-deps
sessynth/_build/default/.main.eobjs/dune__exe__Sessynth.impl.d
sessynth/_build/default/.main.eobjs/dune__exe__Z3adapter.impl.all-deps
sessynth/_build/default/.main.eobjs/dune__exe__Z3adapter.impl.d
sessynth/_build/default/.main.eobjs/dune__exe.ml-gen
sessynth/_build/default/.main.eobjs/byte/dune__exe__Language.cmi
sessynth/_build/default/.main.eobjs/byte/dune__exe__Language.cmo
sessynth/_build/default/.main.eobjs/byte/dune__exe__Language.cmt
sessynth/_build/default/.main.eobjs/byte/dune__exe__Main.cmi
sessynth/_build/default/.main.eobjs/byte/dune__exe__Main.cmti
sessynth/_build/default/.main.eobjs/byte/dune__exe__Sessynth.cmi
sessynth/_build/default/.main.eobjs/byte/dune__exe__Sessynth.cmo
sessynth/_build/default/.main.eobjs/byte/dune__exe__Sessynth.cmt
sessynth/_build/default/.main.eobjs/byte/dune__exe__Z3adapter.cmi
sessynth/_build/default/.main.eobjs/byte/dune__exe__Z3adapter.cmo
sessynth/_build/default/.main.eobjs/byte/dune__exe__Z3adapter.cmt
sessynth/_build/default/.main.eobjs/byte/dune__exe.cmi
sessynth/_build/default/.main.eobjs/byte/dune__exe.cmo
sessynth/_build/default/.main.eobjs/byte/dune__exe.cmt
sessynth/_build/default/.main.eobjs/native/dune__exe__Language.cmx
sessynth/_build/default/.main.eobjs/native/dune__exe__Language.o
sessynth/_build/default/.main.eobjs/native/dune__exe__Main.cmx
sessynth/_build/default/.main.eobjs/native/dune__exe__Main.o
sessynth/_build/default/.main.eobjs/native/dune__exe__Sessynth.cmx
sessynth/_build/default/.main.eobjs/native/dune__exe__Sessynth.o
sessynth/_build/default/.main.eobjs/native/dune__exe__Z3adapter.cmx
sessynth/_build/default/.main.eobjs/native/dune__exe__Z3adapter.o
sessynth/_build/default/.main.eobjs/native/dune__exe.cmx
sessynth/_build/default/.main.eobjs/native/dune__exe.o
sessynth/_build/default/.merlin-conf/exe-main
